html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Raleway;
}

*{
    box-sizing: border-box;
}

.hero-bg{
    height: 120vh;
    width: 100%; 
    background-image: url("/assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-bg-cover{
    height: 120vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    z-index: 0;
}
.wave{
    position: absolute;
    top: 100vh;
    width: 100%;
}


.title-container{
    color: #ddd;
    position:absolute;
    font-size: 2rem;
    margin-top: 11%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}
.title-container h1{
    margin-bottom: 10px;
    font-family: Play;
}

@media (max-width: 500px) {
    .title-container {
        font-size: 1.5rem;
    }
}

.github-avatar{
    border-radius: 50%;
    margin-top: 1rem;
    height: 15rem;
    filter: drop-shadow(0 0 10px #000033);
    transition: filter 0.2s, rotate 0.4s ease-out;
}
.github-avatar:hover{
    filter: drop-shadow(0 0 40px #000033);
    rotate: 360deg;
}

@keyframes jump-up{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 30px;
    }
    100%{
        bottom: 0;
    }
}

.jump-up{
    position: relative;
    animation: jump-up 0.2s linear;
}


@keyframes shrink{
    0%{
        left: 2%;
        top: 4%;
    }
    10%{
        bottom: -2%;
        left: -4%;
    }
    20%{
        left: 2%;
        top: 4%;
    }
    30%{
        left: -2%;
        top: -4%;
    }
    40%{
        left: 2%;
        top: 4%;
    }
    50%{
        left: -2%;
        top: -4%;
    
    }
    60%{
        left: 2%;
        top: 4%;
    }
    70%{
        left: -2%;
        top: -4%;
    }
    80%{
        left: 2%;
        top: 4%;
    }
    90%{
        left: -2%;
        top: -4%;
    }
    100%{
        left: 0%;
        top: 0%;
    }
}

.shrink{
    position: relative;
    animation: shrink 1s linear;
}

.hero-text {
    width: 100%;
    position: absolute;
    top: 68%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .hero-text {
        height: 80%;
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 500px) {
    .hero-text {
        grid-template-columns: 1fr;
        padding: 0 10px;
        gap: 10px;
    }

    .hero-text img:first-child{
        content: url("/assets/hero-text-m.png");
    }
    .hero-text img:nth-child(2){
        content: url("/assets/hero-output-m.png");
    }
}


.hero-text img{
    width: 100%;
    filter: drop-shadow(10px 10px 1rem);
    transition: all 0.2s;
}

.hero-text img:hover{
    filter: drop-shadow(10px 10px 2rem);
}


.arrow-container{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    display: grid;
}
.arrow{
    height: 1rem;
    width: 1rem;
    border: solid #ddd;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
    rotate: 45deg;
    animation: down 1s infinite;
    position:relative;
}

@keyframes down{
    0%{
        top: 1rem;
    }
    50%{
        top: 0;
    }
    100%{
        top: 1rem;
    }
}


.projects-container{
    position: absolute;
    top: calc(100vh + 130px);
    background: #242a39;
    padding: 0.5rem 10rem;
    color: #ddd;
}
header{
    text-align: center;
    font-size: 3rem;
    font-family: play;
}
h3{
    font-size: 2rem;
}
.card-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 1000px){
    .projects-container{
        padding: 0.5rem 1rem;
    }
}


.project-card{
    /* min-width: ; */
    width: calc(25% - 2rem);;
    background: #39405b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
    filter: drop-shadow(10px, 10px, #000003);
}
.project-card:hover{
    scale: 1.1;
}
.card-body{
    padding: 1rem;
}
.project-card h3{
    font-size: 2rem;
    text-align: left;
}
.project-card:not(.python) img{
    width: 100%;
    aspect-ratio: 16/9;
}
.python img{
    width: 100%;
}
a{
    color: #86a3f4;
    text-decoration: none;
    cursor: pointer;
}
a:not(.inactive)::after{
    content: "";
    /* display: block; */
    background: #86a3f4;
    width: 0;
    height: 2px;
}
a:not(.inactive):hover::after{
    width: 100%;
}
a.inactive{
    color: grey;
}

.sprite{
    height: 50px;
    width: 50px;
    background: #0000ff;
    position: absolute;
    top: -100%;
    left: calc(var(--order) * 10%);
    animation: sprite-animation 1s linear;
}
@keyframes sprite-animation{
    0%{
        top: 0%;
        rotate: 0deg;
        filter: hue-rotate(0deg);
    }
    100%{
        top: 100%;
        rotate: 360deg;
        filter: hue-rotate(360deg);
    }
}
